


body{
  background-image: url('https://cdn.pixabay.com/photo/2016/09/17/23/52/fitness-1677212__340.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
